<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XY抽屉效果.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC9FE3761D23B22D00603129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9FE3921D23B22D00603129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9FE39D1D23B22D00603129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
